.knopki{
    display: flex;
    justify-content: space-between;
}

.q-text {
    resize: none;
    outline: none;
}

.text_input_parametrs {
    min-height: 40px;
   max-height: 300px;
    min-width: 300px;
}