.knopki{
    display: flex;
    justify-content: space-between;
}

.subpage{
  color: rgba(232, 232, 232, 0.422);
}


.text_input_parametrs {
    min-height: 40px;
   max-height: 300px;
    min-width: 300px;
}

.new_textarea_q {
  margin-top: 50px;
}

.q-text{
resize: horizontal;
width: 40px;
}


.scale-05{
  transform: scale(0.7);
  margin: 0px;
  text-align: center;
}

.min-w{
  min-width: 500px;
}

.result-total{
display: none;
}

.changerbox_dn{
  display: none;
}